# Exercise 15 Pandas-02

# Import Pandas module and numpy module

In [7]:
import numpy as np
import pandas as pd

# Read csv file
the file is in './data/earthquake.csv' and assign it to variable 'eq'

In [8]:
eq=pd.read_csv('./data/earthquake.csv')
eq

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,IRIS ID,Timestamp
0,2019,2,11,3:59:47,2.0,59.8971,-152.7478,93.5,SOUTHERN ALASKA,11004556,1549857587
1,2019,2,11,3:36:08,1.1,33.5512,-116.9202,10.7,SOUTHERN CALIFORNIA,11004553,1549856168
2,2019,2,11,3:20:42,1.9,59.4979,-152.9018,73.5,SOUTHERN ALASKA,11004552,1549855242
3,2019,2,11,3:04:42,1.5,63.1436,-152.1082,4.2,CENTRAL ALASKA,11004550,1549854282
4,2019,2,11,2:41:44,2.7,59.6321,-146.3146,14.3,GULF OF ALASKA,11004548,1549852904
...,...,...,...,...,...,...,...,...,...,...,...
995,2019,2,7,1:30:04,0.9,33.4998,-116.7922,4.2,SOUTHERN CALIFORNIA,11003337,1549503004
996,2019,2,7,1:29:22,1.3,61.4188,-149.9530,35.0,SOUTHERN ALASKA,11003339,1549502962
997,2019,2,7,1:18:34,2.2,17.9675,-67.1656,14.0,MONA PASSAGE,11003336,1549502314
998,2019,2,7,1:13:36,2.0,47.8600,-122.0438,27.8,WASHINGTON,11003335,1549502016
999,2019,2,7,1:12:42,1.4,60.9197,-151.0947,15.3,"KENAI PENINSULA, ALASKA",11003334,1549501962

# Q1 Get earthquakes whose magnitude is larger than 5.0

In [9]:
eq2=eq[eq.Mag>5.0]
eq2

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,IRIS ID,Timestamp
14,2019,2,11,0:08:48,5.3,13.2099,-87.7116,192.9,HONDURAS,11004539,1549843728
87,2019,2,10,14:33:34,5.2,9.8247,126.3422,35.0,"MINDANAO, PHILIPPINES",11004457,1549809214
100,2019,2,10,13:27:09,5.1,-15.0989,-173.5017,10.0,TONGA ISLANDS,11004445,1549805229
120,2019,2,10,10:54:48,5.3,27.0748,55.5409,10.0,SOUTHERN IRAN,11004422,1549796088
162,2019,2,10,5:34:25,5.1,28.1830,129.5768,39.1,"RYUKYU ISLANDS, JAPAN",11004379,1549776865
177,2019,2,10,3:22:05,5.2,27.3621,96.4032,10.0,MYANMAR-INDIA BORDER REGION,11004359,1549768925
194,2019,2,10,2:05:01,5.2,0.2889,126.2773,44.1,NORTHERN MOLUCCA SEA,11004342,1549764301
227,2019,2,9,22:21:14,5.2,9.9298,126.3760,10.0,"MINDANAO, PHILIPPINES",11004309,1549750874
255,2019,2,9,19:23:08,5.1,-21.6680,-68.3854,121.6,CHILE-BOLIVIA BORDER REGION,11004280,1549740188
547,2019,2,8,12:45:39,5.1,9.8764,126.3908,10.0,"MINDANAO, PHILIPPINES",11003858,1549629939
562,2019,2,8,11:55:08,5.9,9.8311,126.5297,24.7,"MINDANAO, PHILIPPINES",11003845,1549626908
657,2019,2,8,3:11:05,5.4,-32.8313,57.1405,10.0,SOUTHWEST INDIAN RIDGE,11003763,1549595465
891,2019,2,7,10:03:08,5.4,2.2151,128.7647,33.0,"HALMAHERA, INDONESIA",11003447,1549533788
964,2019,2,7,4:15:29,5.7,1.5093,126.4563,35.0,NORTHERN MOLUCCA SEA,11003365,1549512929
992,2019,2,7,1:41:34,5.5,-8.4642,160.9592,65.9,SOLOMON ISLANDS,11003347,1549503694

# Q2 Delete the column named "IRIS ID"

In [11]:
eq2.drop(columns=['IRIS ID'])

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,Timestamp
14,2019,2,11,0:08:48,5.3,13.2099,-87.7116,192.9,HONDURAS,1549843728
87,2019,2,10,14:33:34,5.2,9.8247,126.3422,35.0,"MINDANAO, PHILIPPINES",1549809214
100,2019,2,10,13:27:09,5.1,-15.0989,-173.5017,10.0,TONGA ISLANDS,1549805229
120,2019,2,10,10:54:48,5.3,27.0748,55.5409,10.0,SOUTHERN IRAN,1549796088
162,2019,2,10,5:34:25,5.1,28.1830,129.5768,39.1,"RYUKYU ISLANDS, JAPAN",1549776865
177,2019,2,10,3:22:05,5.2,27.3621,96.4032,10.0,MYANMAR-INDIA BORDER REGION,1549768925
194,2019,2,10,2:05:01,5.2,0.2889,126.2773,44.1,NORTHERN MOLUCCA SEA,1549764301
227,2019,2,9,22:21:14,5.2,9.9298,126.3760,10.0,"MINDANAO, PHILIPPINES",1549750874
255,2019,2,9,19:23:08,5.1,-21.6680,-68.3854,121.6,CHILE-BOLIVIA BORDER REGION,1549740188
547,2019,2,8,12:45:39,5.1,9.8764,126.3908,10.0,"MINDANAO, PHILIPPINES",1549629939
562,2019,2,8,11:55:08,5.9,9.8311,126.5297,24.7,"MINDANAO, PHILIPPINES",1549626908
657,2019,2,8,3:11:05,5.4,-32.8313,57.1405,10.0,SOUTHWEST INDIAN RIDGE,1549595465
891,2019,2,7,10:03:08,5.4,2.2151,128.7647,33.0,"HALMAHERA, INDONESIA",1549533788
964,2019,2,7,4:15:29,5.7,1.5093,126.4563,35.0,NORTHERN MOLUCCA SEA,1549512929
992,2019,2,7,1:41:34,5.5,-8.4642,160.9592,65.9,SOLOMON ISLANDS,1549503694

# Q3 Show the 'Lat' of earthquake in 'SOLOMON ISLANDS'

In [13]:
eq[eq['Region'].isin(['SOLOMON ISLANDS'])]['Lat']

475   -9.7391
992   -8.4642
Name: Lat, dtype: float64

# Q4 Sort according to 'Mag' in decending order

In [14]:
eq.sort_values(by='Mag',ascending=False)

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,IRIS ID,Timestamp
562,2019,2,8,11:55:08,5.9,9.8311,126.5297,24.7,"MINDANAO, PHILIPPINES",11003845,1549626908
964,2019,2,7,4:15:29,5.7,1.5093,126.4563,35.0,NORTHERN MOLUCCA SEA,11003365,1549512929
992,2019,2,7,1:41:34,5.5,-8.4642,160.9592,65.9,SOLOMON ISLANDS,11003347,1549503694
657,2019,2,8,3:11:05,5.4,-32.8313,57.1405,10.0,SOUTHWEST INDIAN RIDGE,11003763,1549595465
891,2019,2,7,10:03:08,5.4,2.2151,128.7647,33.0,"HALMAHERA, INDONESIA",11003447,1549533788
...,...,...,...,...,...,...,...,...,...,...,...
585,2019,2,8,9:11:56,0.1,40.4685,-121.5207,3.4,NORTHERN CALIFORNIA,11003969,1549617116
407,2019,2,9,0:31:31,0.1,46.3487,-122.2373,10.1,WASHINGTON,11004117,1549672291
570,2019,2,8,10:44:45,0.1,33.6033,-116.7242,5.0,SOUTHERN CALIFORNIA,11003836,1549622685
820,2019,2,7,15:56:06,0.1,36.3732,-116.8852,0.0,CALIFORNIA-NEVADA BORDER REGION,11003662,1549554966
584,2019,2,8,9:13:38,0.1,37.6572,-118.9405,7.6,CALIFORNIA-NEVADA BORDER REGION,11003972,1549617218

# Q5 Set all values in the column of 'Timestamp' to 0

In [17]:
eq.Timestamp=0
eq

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,IRIS ID,Timestamp
0,2019,2,11,3:59:47,2.0,59.8971,-152.7478,93.5,SOUTHERN ALASKA,11004556,0
1,2019,2,11,3:36:08,1.1,33.5512,-116.9202,10.7,SOUTHERN CALIFORNIA,11004553,0
2,2019,2,11,3:20:42,1.9,59.4979,-152.9018,73.5,SOUTHERN ALASKA,11004552,0
3,2019,2,11,3:04:42,1.5,63.1436,-152.1082,4.2,CENTRAL ALASKA,11004550,0
4,2019,2,11,2:41:44,2.7,59.6321,-146.3146,14.3,GULF OF ALASKA,11004548,0
...,...,...,...,...,...,...,...,...,...,...,...
995,2019,2,7,1:30:04,0.9,33.4998,-116.7922,4.2,SOUTHERN CALIFORNIA,11003337,0
996,2019,2,7,1:29:22,1.3,61.4188,-149.9530,35.0,SOUTHERN ALASKA,11003339,0
997,2019,2,7,1:18:34,2.2,17.9675,-67.1656,14.0,MONA PASSAGE,11003336,0
998,2019,2,7,1:13:36,2.0,47.8600,-122.0438,27.8,WASHINGTON,11003335,0
999,2019,2,7,1:12:42,1.4,60.9197,-151.0947,15.3,"KENAI PENINSULA, ALASKA",11003334,0

# Q6 Delete the column named 'Timestamp'

In [19]:
eq.drop(columns=['Timestamp','IRIS ID'])

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region
0,2019,2,11,3:59:47,2.0,59.8971,-152.7478,93.5,SOUTHERN ALASKA
1,2019,2,11,3:36:08,1.1,33.5512,-116.9202,10.7,SOUTHERN CALIFORNIA
2,2019,2,11,3:20:42,1.9,59.4979,-152.9018,73.5,SOUTHERN ALASKA
3,2019,2,11,3:04:42,1.5,63.1436,-152.1082,4.2,CENTRAL ALASKA
4,2019,2,11,2:41:44,2.7,59.6321,-146.3146,14.3,GULF OF ALASKA
...,...,...,...,...,...,...,...,...,...
995,2019,2,7,1:30:04,0.9,33.4998,-116.7922,4.2,SOUTHERN CALIFORNIA
996,2019,2,7,1:29:22,1.3,61.4188,-149.9530,35.0,SOUTHERN ALASKA
997,2019,2,7,1:18:34,2.2,17.9675,-67.1656,14.0,MONA PASSAGE
998,2019,2,7,1:13:36,2.0,47.8600,-122.0438,27.8,WASHINGTON
999,2019,2,7,1:12:42,1.4,60.9197,-151.0947,15.3,"KENAI PENINSULA, ALASKA"

# Q7 Convert the unit of the depth of earthquakes to meters and add the data to the last column named 'Depth m'

In [25]:
eq['Depth km']=eq['Depth km']*1000.0
eq

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,IRIS ID,Timestamp,Depth m
0,2019,2,11,3:59:47,2.0,59.8971,-152.7478,93500000.0,SOUTHERN ALASKA,11004556,0,93500.0
1,2019,2,11,3:36:08,1.1,33.5512,-116.9202,10700000.0,SOUTHERN CALIFORNIA,11004553,0,10700.0
2,2019,2,11,3:20:42,1.9,59.4979,-152.9018,73500000.0,SOUTHERN ALASKA,11004552,0,73500.0
3,2019,2,11,3:04:42,1.5,63.1436,-152.1082,4200000.0,CENTRAL ALASKA,11004550,0,4200.0
4,2019,2,11,2:41:44,2.7,59.6321,-146.3146,14300000.0,GULF OF ALASKA,11004548,0,14300.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2019,2,7,1:30:04,0.9,33.4998,-116.7922,4200000.0,SOUTHERN CALIFORNIA,11003337,0,4200.0
996,2019,2,7,1:29:22,1.3,61.4188,-149.9530,35000000.0,SOUTHERN ALASKA,11003339,0,35000.0
997,2019,2,7,1:18:34,2.2,17.9675,-67.1656,14000000.0,MONA PASSAGE,11003336,0,14000.0
998,2019,2,7,1:13:36,2.0,47.8600,-122.0438,27800000.0,WASHINGTON,11003335,0,27800.0
999,2019,2,7,1:12:42,1.4,60.9197,-151.0947,15300000.0,"KENAI PENINSULA, ALASKA",11003334,0,15300.0